:root {
   --maincolor:white;
   --subcolor:teal;
   --accentcolor:cyan;
   --trimcolor:blue; 
}

body {
    /* color: var(--maincolor); */
    background-image: url("../images/iguazu.jpg");
    background-size:100% 100%, contain;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    
}

main {
    width:  90%;
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.mainSection {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.containerMd, .containerLg {
    background-color:none;
    flex: content;
    justify-content: center;
    text-align: center;
    padding: 0px 3px 0px 0px;
}

.containerMd {
    width: 1.1fr;
    
}

.containerLg {
    width: 1.5fr;
}


.icon {
    margin-right: 1rem;
}

.travelFormBox {
    display: block;
}

.travelForm {
    display: flex;
    margin: 1rem;
}

#formBtn {
}

#googleMap {
    width: 40vw;
    height: 40vh;
    margin: 2rem;
}


/* 
#recommendedModal {
    position: absolute;
} */
