.description {
    text-transform: capitalize;

}

.wrap {

    justify-content: space-around;
    width: 100%;

}

/* .day-1, .day-2, .day-3, .day-4 {
    border: 3px solid blue;
} */

.searchBar {
    display: block;
    width: 40%vh;
    margin: 0 auto;
    text-align: center;
}

.container {
    padding: auto;
}

.citiItem {
    text-transform: capitalize;
    padding: 1rem;
}

.descDisplay {
    text-transform: capitalize;
}
.box {
    display: inline;
    justify-content: space-around;
    width: 50vh;
    padding: auto;
}
.box-2 {
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.listCities {
    display: flex;
    
    overflow-y: auto !important;
    overflow-x: auto;
}



 

@media screen and (max-width: 992px) {
    .card {
        width: 100vh;
        height: 100vh;
        /* background-image: none !important; */
        /* background: lime !important; */
    }

}